{% extends "base.html" %}
{% load claims static markdownify %}

{% block title %}Profile: {% if object.name %}{{ object.name }}{% else %}{{ object.username }}{% endif %}{% endblock %}

{% block nav_active_profile %}{% if object == request.user %}active{% endif %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <h1>{% if object.name %}{{ object.name }}{% else %}{{ object.username }}{% endif %}</h1>

    {% include "users/_user_profile_tabs.html" with current="profile" %}

    {% if object.bio %}
      <h3>Bio</h3>
      <div>
        {{ object.bio | markdownify:"bio" }}
      </div>
    {% endif %}

    {% all_approved_claims_for_user object as claims %}
    {% if claims.count %}
      <h3>Resources</h3>

      <ul>
        {% for claim in claims %}
          {% with claim.content_object as obj %}
            {% if obj.listed or obj and object == request.user %}
              <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a>{% if not obj.listed %} (Unlisted){% endif %}</li>
            {% endif %}
          {% endwith %}
        {% endfor %}
      </ul>
    {% endif %}

  </div>
</div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Edit Profile</a>
  </div>

</div>
<!-- End Action buttons -->
{% endif %}

{% endblock content %}
