{% extends "base.html" %}
{% load static %}

{% block title %}Tag: {{ object.name }}{% endblock %}

{% block nav_active_tags %}active{% endblock %}

{% block content %}
  <h1>#{{ object.name }}</h1>

  {% with object.module_items as module_items %}
    {% if module_items.count %}
      <h2>Modules</h2>
      {% include "repo/_module_table.html" with object_list=module_items tag_items=True %}
    {% endif %}
  {% endwith %}

  {% with object.project_items as project_items %}
    {% if project_items.count %}
      <h2>Projects</h2>
      {% include "repo/_project_table.html" with object_list=project_items tag_items=True %}
    {% endif %}
  {% endwith %}
{% endblock content %}
