{# params: object_list tag_items #}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Module</th>
      <th scope="col">Added</th>
    </tr>
  </thead>
  <tbody>
    {% for module in object_list %}
      {% if tag_items %}
        {% with module.content_object as module %}
          {% include "repo/_module_table_row.html" %}
        {% endwith %}
      {% else %}
        {% include "repo/_module_table_row.html" %}
      {% endif %}
    {% empty %}
      <tr>
        <td colspan="2">(No modules)</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
