{% extends "base.html" %}
{% load claims static markdownify %}

{% block title %}Module: {{ object.display_name }}{% endblock %}

{% block nav_active_modules %}active{% endblock %}

{% block content %}
  <h1 class="resource-name-heading">{{ object.display_name }}</h1>

  {% approved_claims_for_object object as claims %}

  {% include "repo/_byline.html" with resource_type="module" %}

  {% if not object.listed %}
    <p>Note: The owner of this module has marked it as unlisted.</p>
  {% endif %}

  <p>
    {% include "_fragments/_tag_links.html" with modelname="module" object=object %}
  </p>

  <div>
    {% include "repo/_add_tag_inline_form.html" with add_tag_url_name="repo:module-add-tag" %}
  </div>

  {% if object.description %}
    <hr>
    <div>
      {{ object.description|markdownify:"description" }}
    </div>
  {% endif %}

  <hr>

  {% include "repo/_file_details.html" %}

  <hr>

  {% include "repo/_comments.html" %}

  <hr>

  {% include "repo/_found_at.html" with type="module" %}

  {% include "repo/_ownership.html" with type="module" %}

{% endblock content %}
