{% extends "base.html" %}
{% load static %}

{% block title %}Module: {{ object.name }}{% endblock %}

{% block nav_active_modules %}active{% endblock %}

{% block content %}
  <h1>Module: {{ object.name }}</h1>

  <h2>File details</h2>

  <ul>
    <li>Hash: {{ object.file.hash }}</li>
    <li>Size: {{ object.file.size }}</li>
    {% with object.file.media_url as media_url %}
      {% if media_url %}
        <li><a href="{{ media_url }}">Download cached copy</a></li>
      {% endif %}
    {% endwith %}
  </ul>

  {% include "repo/_found_at.html" with type="module" %}

{% endblock content %}
