{% extends "base.html" %}
{% load static %}

{% block title %}Module: {{ object.name }}{% endblock %}

{% block nav_active_modules %}active{% endblock %}

{% block content %}
  <h1>Module: {{ object.name }}</h1>

  <h2>File details</h2>

  <ul>
    <li>Hash: {{ object.file.hash }}</li>
    <li>Size: {{ object.file.size }}</li>
  </ul>

  <h2>Found at</h2>

  <ul>
    {% for location in object.file.locations.all %}
      <li>
        <a href="{{ location.url }}" rel="nofollow">{{ location.url }}</a>
        (added {{ location.added_at }}{% if location.added_by %} by <a href="{% url 'users:detail' location.added_by.username %}">{{ location.added_by }}</a>{% endif %})
      </li>
    {% empty %}
      <li>(No locations on record.)</li>
    {% endfor %}

  </ul>

{% endblock content %}
