{% extends "base.html" %}
{% load static compress %}

{% block title %}Project: {{ object.name }}{% endblock %}

{% block nav_active_projects %}active{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static "js/sunvox/sunvox.js" %}"></script>
  <script src="{% static "js/sunvox/sunvox_lib_loader.js" %}"></script>
{% endblock %}

{% block inline_javascript %}
  <script type="application/javascript">
    let loading = false
    let loaded = false
    svlib.then(function (Module) {
      svlib = Module
      sv_init(0, 44100, 2, 0)
    })
    function setStatus(status) {
      document.getElementById("status").innerHTML = status
      console.log(status)
    }
    function playProject() {
      if (loading) {
        return
      }
      if (loaded) {
        setStatus("Playing")
        sv_play_from_beginning(0)
      }
      if (!loaded) {
        loading = true
        setStatus("Loading...")
        let req = new XMLHttpRequest();
        req.open("GET", "{{ object.file.media_url }}", true);
        req.responseType = "arraybuffer";
        req.onload = function (e) {
          if (this.status !== 200) {
            return
          }
          let arrayBuffer = this.response
          if (arrayBuffer) {
            let byteArray = new Uint8Array(arrayBuffer)
            sv_open_slot(0)
            if (sv_load_from_memory(0, byteArray) === 0) {
              setStatus("Playing")
              loaded = true
              loading = false
              sv_play_from_beginning(0)
            }
          }
        }
        req.send(null)
      }
    }
    function stopProject() {
      setStatus("Stopped")
      sv_stop(0)
    }
  </script>
{% endblock %}

{% block content %}
  <h1>Project: {{ object.name }}</h1>

  <h2>Tags</h2>

  <div>
    {% for tag in object.tags.all %}
      <span class="badge badge-primary">#{{ tag.name }}</span>
    {% empty %}
      (No tags.)
    {% endfor %}
  </div>

  {% if request.user.is_authenticated %}
    <form method="post" action="{% url "repo:project-add-tag" hash=object.file.hash %}" class="form-inline">
      {% csrf_token %}
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">#</div>
        </div>
        <input type="text" class="form-control" id="addTagsInput" name="tags" placeholder="tag1,tag2,...">
      </div>
      <button class="btn btn-primary mb-2" type="submit">Add Tag(s)</button>
    </form>
  {% endif %}

  <h2>SunVox web player</h2>

  <p>
    <button onclick="playProject()">Play</button>
    <button onclick="stopProject()">Stop</button>
    <span id="status"></span>
  </p>

  <h2>File details</h2>

  <ul>
    <li>Hash: {{ object.file.hash }}</li>
    <li>Size: {{ object.file.size }}</li>
    {% with object.file.media_url as media_url %}
      {% if media_url %}
        <li><a href="{{ media_url }}">Download cached copy</a></li>
      {% endif %}
    {% endwith %}
  </ul>

  {% include "repo/_found_at.html" with type="project" %}

{% endblock content %}
