{# params: object_list tag_items #}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Added</th>
    </tr>
  </thead>
  <tbody>
    {% for project in object_list %}
      {% if tag_items %}
        {% with project.content_object as project %}
          {% include "_fragments/_project_table_row.html" %}
        {% endwith %}
      {% else %}
        {% include "_fragments/_project_table_row.html" %}
      {% endif %}
    {% empty %}
      <tr>
        <td colspan="2">(No projects)</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
